a {
	color: #4caf50;
}

ul.inline li {
	display: inline-block;
}

div.divider {
	margin-bottom: 40px;
}

nav.main-nav {
	padding-left: 40px;
	padding-right: 40px;
}

ul.inline.competition li {
	padding: 0 16px;
}

.collapsible-header li.date {
	width: 100px;
}
.collapsible-header li.team-name {
	width: 140px;
}
.collapsible-header li.num-stems {
	width: 100px;
}

.student-list {
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc;
}

div.collapsible-header {
	background-color: #eeeeee;
	transition: background-color 0.5s;
}

div.collapsible-header.active {
	background-color: white;
}

div.collapsible-header div.secondary-content.short {
	height: 44px;
}

/*div.collapsible-header.active + div.collapsible-body {
	background-color: #e7f3e7;
}

div.collapsible-header.active + div.collapsible-body div.card {
	background-color: #f7fbf7;
}*/

div.card.obs-notes {
	display: none;
	margin-left: 20%;
}

ul.collapsible.obs li.active {
	background-color: #4caf50;
}

div.collapsible-body {
	padding-left: 8px;
	padding-right: 8px;
}

.team-action-btn {
	margin-top: 24px;
}

form.inline-block {
	display: inline-block;
}

button.clear-btn-formatting {
	background:none;
	border:none;
	display: inline;
	padding: 0;
}